@import '~antd/dist/antd.css';

body .ant-btn-primary {
  color: #fff;
  background: #153A62;
  border-color: #153A62;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

body .ant-btn:hover, .ant-btn:focus {
  color: #153A62;
  background: #fff;
  border-color: #153A62;
}

.ant-menu {
  color: #153A62; 
}

.ant-menu-item-selected {
  color: #153A62;
}

.ant-menu-submenu-selected {
  color: #153A62;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #153A62;
}

body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, 
body .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: #153A62;
  border-bottom: 2px solid #153A62;
}

.ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
  color: #153A62;
}

.ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
  color: #153A62;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #153A62;
}

.ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #99d2cb; 
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: rgb(153 210 203 / 25%);
}